/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
}

footer > .footer-section {
  width: 100%;
}

.logo {
  height: 19px;
  padding: 30px 50px 30px 50px;
  gap: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 68px;
  padding: 0;
  margin: 0 50px;
}

.lien-header {
  border-top: 3px solid transparent;
  transition: border-color 0.3s ease;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-top: 10px;
}

.lien-header:hover {
  color: #0065fc;
  border-top-color: #0065fc;
}

.container {
  margin: 0 50px;
}

.titre h1 {
  font-size: 22px;
  margin-bottom: 8px;
}
.titre p {
  font-size: 16px;
  margin-top: 0;
}

.barre-de-recherche {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  max-width: 377px;
  height: 49px;
  border-radius: 15px;
  margin-top: 35px;
}
.barre-de-recherche input[type="text"] {
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.barre-de-recherche input::placeholder {
  color: black;
  font-weight: 700;
}
.barre-de-recherche input[type="submit"] {
  border: none;
  background-color: #0065fc;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 16px 15px 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
}
.barre-de-recherche img {
  background-color: #f2f2f2;
  padding: 15px 18px 15px 18px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
}

.filtres span,
.filtres a span {
  font-size: 18px;
  font-weight: bold;
}
.filtres {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 35px 0 0 0;
}
.filtres a {
  display: inline-flex;
  align-items: center;
  min-width: 134px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 4px 19px 4px 19px;
  gap: 10px;
}
.filtres a:hover {
  background-color: #deebff;
}

.texte-en-bas {
  display: inline-flex;
  align-items: center;
  margin: 35px 0;
  gap: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.flat-grid-wrapper {
  display: flex;
  justify-content: space-between;
}

.flat-grid-wrapper section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.footer-section h3 {
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
  gap: 20px;
  font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .flat_grid_wrapper {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  .logo {
    align-self: center;
  }

  footer {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }

  footer.container {
    margin: 0;
  }

  .container {
    margin: 0 20px;
  }

  nav ul {
    margin: 0;
    justify-content: initial;
    gap: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  .lien-header {
    border-bottom: 2px solid transparent;
    color: black;
    padding: 15px 0;
    border-top: none;
  }

  .lien-header:hover {
    border-bottom-color: #0065fc;
  }
}
