/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
}

footer > .footer-section {
  width: 100%;
}

button {
  padding: 0;
}

.logo {
  height: 19px;
  padding: 30px 50px 30px 50px;
  gap: 10px;
}

.logo img {
  height: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 68px;
  padding: 0;
  margin: 0 50px;
}

.lien-header {
  border-top: 3px solid transparent;
  transition: border-color 0.3s ease;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-top: 10px;
}

.lien-header:hover {
  color: #0065fc;
  border-top-color: #0065fc;
}

.container {
  margin: 0 50px;
}

.titre h1 {
  font-size: 22px;
  margin-bottom: 8px;
}
.titre p {
  font-size: 16px;
  margin-top: 0;
}

.barre-de-recherche {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  max-width: 377px;
  border-radius: 15px;
  margin-top: 35px;
  position: relative;
}
.barre-de-recherche i.fa-solid.fa-location-dot {
  background-color: #f2f2f2;
  padding: 18px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
}

.barre-de-recherche input[type="text"] {
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.barre-de-recherche input::placeholder {
  color: black;
  font-weight: 700;
}
.bouton-rechercher {
  border: none;
  background-color: white;
  position: absolute;
  right: 0;
}
.barre-de-recherche span.texte {
  display: inline-block;
  border: none;
  background-color: #0065fc;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 16px 15px 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
.bouton-rechercher i {
  display: none;
}

.filtres span,
.filtres a span {
  font-size: 17px;
  font-weight: bold;
}
.filtres {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 35px 0 0 0;
}
.filtres a {
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 13px 19px;
  gap: 15px;
  justify-content: center;
}
.filtres a:hover {
  background-color: #deebff;
}
.filtres i {
  font-size: 20px;
}
i.fa-solid.fa-person {
  font-size: 23px;
}

.texte-en-bas {
  display: inline-flex;
  align-items: center;
  margin: 35px 0;
  gap: 10px;
}
i.fa-solid.fa-info {
  border: 2px solid #f2f2f2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.flat-grid-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 35px;
}

.flat-grid-wrapper section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px 40px 30px 40px;
}

/****** Hebergements ***********/
.hebergements {
  width: 68%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards .card {
  width: 100%;
  max-width: 245px;
  height: 207.25px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  box-sizing: border-box;
}

.hebergements-cards img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
  box-sizing: border-box;
}

.hebergements-cards .card-content {
  display: inline-block;
  flex-direction: row;
}

.hebergements-cards .card-title {
  margin-top: 8px;
  margin-left: 15px;
}

.hebergements-cards .card-subtitle {
  margin-top: 4px;
  margin-bottom: 6px;
  margin-left: 15px;
}

.hebergements-cards .card-rating {
  margin-left: 15px;
  margin-bottom: 8px;
}

.hebergements-link {
  display: inline-block;
  font-weight: 700;
  margin-top: 40px;
  font-size: 18px;
}

.hebergements-link:hover {
  text-decoration: underline;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  max-width: 429px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 138px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*******Activités********/

.activites {
  background-color: white;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 40px;
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
}

.activites-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding-top: 10px;
  width: 1280px;
  box-sizing: border-box;
  border-radius: 20px;
}

.activites-cards-content {
  overflow: hidden;
  border: 1px solid #0000001a;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.activites-cards img {
  height: 439px;
  max-width: 297.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activites-title {
  font-size: 22px;
  font-weight: 700;
}

/*****Footer******/

.footer-section h3 {
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
  gap: 20px;
  font-size: 16px;
}

footer a:hover {
  text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .flat-grid-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  .populaires-cards img {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  .logo {
    align-self: center;
  }

  footer {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }

  footer.container {
    margin: 0;
  }

  .container {
    margin: 0 20px;
  }

  nav ul {
    margin: 0;
    justify-content: initial;
    gap: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  .lien-header {
    border-bottom: 2px solid transparent;
    color: black;
    padding: 15px 0;
    border-top: none;
    display: block;
  }

  .lien-header:hover {
    border-bottom-color: #0065fc;
  }

  i.fa-solid.fa-magnifying-glass {
    display: inline-block;
    border: none;
    background-color: #0065fc;
    color: white;
    align-items: center;
    padding: 15px 16px 15px 16px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .barre-de-recherche span.texte {
    display: none;
  }

  .filtres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  .filtres span {
    font-size: 18px;
    font-weight: bold;
    flex-basis: 100%;
    display: flex;
  }

  .filtres a {
    display: flex;
    flex: 1 0 38%;
    padding: 13px 15px;
    gap: 10px;
    margin-top: 15px;
  }
  .filtres a span {
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .filtres i {
    margin: 0;
    padding: 0;
  }

  .flat-grid-wrapper {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .flat-grid-wrapper .populaires {
    order: 1;
    border-radius: 0;
    margin: 0;
    padding: 30px 20px;
  }
  .flat-grid-wrapper .hebergements {
    order: 2;
    border-radius: 0;
    background-color: white;
    padding: 30px 20px;
  }
  .populaires-cards {
    display: block;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .hebergements-cards {
    display: flex;
    flex-direction: column;
  }
  .hebergements-cards .card {
    max-width: 335px;
    margin-top: 15px;
    margin-right: 0;
    width: 100%;
  }
  .hebergements-cards img {
    width: 100%;
  }
  .hebergements-link {
    margin-top: 15px;
  }

  .activites {
    max-width: 375px;
    margin: 0;
    padding: 30px;
  }
  .activites-cards {
    display: flex;
    flex-direction: column;
    width: 315px;
  }
  .activites-cards img {
    min-width: 315px;
    max-height: 141px;
    object-fit: cover;
  }
  .activites-cards-content {
    max-height: 200px;
  }
}
